```css
body{
margin:0;
font-family:Arial, sans-serif;
background:#0b0b0b;
color:white;
text-align:center;
}


header{

padding:100px 20px;
background:linear-gradient(135deg,#000000,#252525);

}


header h2{

color:#ffffff;
front-seiz:28px;
margin-top:20px;

}


header p{

color:#f5f5f5;
front-seiz:22px;
front-weight:bold;
}


section{

padding:50px 20px;

}


.btn,button{

background:#d4af37;
color:#000;
padding:15px 30px;
border-radius:30px;
border:none;
font-weight:bold;
text-decoration:none;
cursor:pointer;

}


.services p{

font-size:18px;

}


form{

max-width:500px;
margin:auto;

}


input,textarea{

width:90%;
padding:15px;
margin:10px;
border-radius:8px;
border:none;

}


textarea{

height:120px;

}


footer{

background:#000;
padding:20px;
color:#aaa;

}
```
